<html>
    <head>
        <title> Home Page </title>
        <link rel="stylesheet" href="/css/about.css">
        <script src="/js/Main.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>

    <body>
        <div id="main_div">
            <div id="content_div">
                <div id="upper_div">
                    <h1> About us </h1>
                    <p> man, this is the softest thing i ever did, but... its about something that's pretty important to me... and thats you... and thats true... i really wish that i didnt care about you anymore... but i do</p>
                    <h2> Packages that made this Web App possible </h2>
                    <p> npm init -y </p>
                    <p> npm install express </p>
                    <p> npm install express-session </p>   
                    <p> npm install hbs </p>   
                    <p> npm install dotenv </p>   
                    <p> npm install cookie-parser </p>   
                    <p> npm install mongodb </p>   
                    <p> npm install mongoose </p>   
                    <p> npm install sha1 </p>   
                </div>
                <div id="lower_div">
                    <a href="/Login">
                        <button>
                            Back to Login page
                        </button>
                    </a> 
                </div>
            </div>
        </div>
    </body>
</html>