<!DOCTYPE html>
<html>
    <head>
        <title>Student Profile</title>
        <link href="/css/student-information.css" rel="stylesheet">
    </head>

    <body>
        <div id="main_div">
            <div id="picture_div">
                <img src="/images/howard.jpg">
            </div>
            <div id="bio_div">
                <div class="profile_info" id="name_div">
                    <h1> Howard Joel Wolowitz </h1>
                </div>
                <div class="profile_info" id="reservation_div">
                    <h2> Reservations </h2>
                    <a href="/TimeSlot1">
                        <p> Laboratory 1/Seat 1/7:30AM - 8:00AM </p>
                    </a>
                    <a href="/TimeSlot1">
                        <p> Laboratory 1/Seat 1/8:00AM - 8:30AM </p>
                    </a>
                    <a href="/TimeSlot1">
                        <p> Laboratory 1/Seat 1/8:30AM - 9:00AM </p>
                    </a>
                    <a href="/TimeSlot1">
                        <p> Laboratory 1/Seat 1/9:00AM - 9:30AM </p>
                    </a>
                </div>
                <div class="profile_info" id="button_div">
                    <a href="/TimeSlot1">
                        <button id="back_button">
                            Back
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
